---
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
  includeAdsense?: boolean;
}

const { title, description, includeAdsense = false } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    {description ? <meta name="description" content={description} /> : null}
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}favicon.svg`} />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QFYE38MD6S"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QFYE38MD6S');
    </script>

    {includeAdsense ? (
      <>
        <!-- Google AdSense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1537458730659685"
     crossorigin="anonymous"></script>
      </>
    ) : null}
  </head>
  <body>
    <header>
      <div class="row">
        <a class="pill" href={baseUrl}>
          Start Debugging
        </a>
        <!--<nav class="row">
          <a href={`${baseUrl}`}>Home</a>
          <a href={`${baseUrl}`}>Blog</a>
        </nav>-->
      </div>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <div class="muted">

      </div>
    </footer>
  </body>
</html>

